<div class="footer d-flex bg-light">
    <div class="leftfoot d-flex flex-column">
        <span class="footerhead"><b>Categories</b></span>
        <span>T-Shirts</span>
        <span>Shirt</span>
        <span>Jeans</span>
        <span>Trouser</span>
        <span>Sheos</span>
        <span>Chappal</span>
    </div>
    <div class="Midfoot d-flex flex-column">
        <span class="footerhead"><b>Useful Links</b></span>
        <span>Contact Us</span>
        <span>FAQ</span>
        <span>Blog</span>
        <span>Terms Of Use</span>
        <span>T&C</span>
        <span>Privary Policy</span>
        <span>Cancellation</span>
        <span>Shipping</span>
        <span>Return Product</span>
        <span>Site Map</span>
    </div>
    <div class="rightfoot">
        <span class="footerhead"><b>KEEP IN TOUCH</b></span>
        <div class="Rightfoottop d-flex">
            <span><i class="fa fa-google icon"></i></span>
            <span><i class="fa fa-youtube icon"></i></span>
            <span><i class="fa fa-instagram icon"></i></span>
            <span><i class="fa fa-twitter icon"></i></span>
        </div><br>
        <span class="footerhead"><b>EXPERIENCE MYNTRA APP ON MOBILE</b></span>
        <div class="rightfootdown">
            <img src="assets/images/getapplestore.png" alt="">
            <img src="assets/images/getgoogle.png" alt="">
        </div>
    </div>
    <div class="lastfoot">
        <div class="lastfoothead">
            <img class="tag" src="assets/images/original.png">
            <p>100% ORIGINAL guarantee for all products at FashionHub.com</p>&nbsp;&nbsp;
        </div>
        <div class="lastfootfoot">
            <img class="tag" src="assets/images/30days.png">&nbsp;&nbsp;
            <p>Return within 30days of receiving your order</p>
        </div>
    </div>
</div>
<div class="footbottom d-flex justify-content-between">
    <p>In case of any concern, Contact Us</p>
    <p>© 2022 www.FashionHub.com. All rights reserved.</p>
</div>