    <div>
        <div class="formcontainer">
            <form [formGroup]="signupform">
                <div class="formheader">
                    <h2 class="signheader">Sign Up</h2>
                </div>
                <div *ngIf="error" class="alert alert-danger">Please fill the form properly !!!</div>
                
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Email" formControlName="email">
                    <label for="floatingInput">Email address</label>
                    <span class="form-text" *ngIf="s['email'].invalid && s['email'].touched">Email is required!</span>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="First Name" formControlName="firstName">
                    <label for="floatingInput">First Name</label>
                    <span class="form-text" *ngIf="s['firstName'].invalid && s['firstName'].touched">firstName is required!</span>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" formControlName="lastName">
                    <label for="floatingInput">Last Name</label>
                    <span class="form-text" *ngIf="s['lastName'].invalid && s['lastName'].touched">last Name is required!</span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                    <label for="floatingPassword">Password</label>
                    <span class="form-text" *ngIf="s['password'].invalid && s['password'].touched">Password is required!</span>
                </div>
                <div class="signbtn">
                    <button class="btn btn-light" (click)="submit()">Sign Up</button>
                </div>
            </form>
        </div>
    </div>