<div class="container d-flex">
    <div class="leftcont">
        <div class="image">
            <img src="{{imageurl}}" alt="">
        </div>
    </div>
    <div class="rightcont">
        <div class="pdata">
            <p><strong class="pname"> Name : &nbsp;&nbsp;{{userdata.fistName}} {{userdata.lastName}} </strong></p>
        </div>
        <div>
            <p><strong> Email : &nbsp;&nbsp;{{userdata.email}} </strong></p>
            <p><strong> Role : &nbsp;&nbsp;{{userdata.roleType}} </strong></p>
            <p><strong> Status : &nbsp;&nbsp;{{userdata.status}} </strong></p>
        </div>
    </div>
</div>
